.primary-bg {
  background-color: rgba(141,163,141,1);
}

main {
  background-color: #fafafa;
}

#sidenav-logo {
  padding: 8pt;
  width: 100%;
}

header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.section-title {
  color: rgba(141,163,141,1);
  font-size: 15pt;
}

.profile-img {
  width: 100%;
}

a {
  color: rgba(141,163,141,1);
}

.social-media-list {
  margin-left: 24px;
}
